body {
    margin: 0;
}

h2 {
    display: inherit;

}

a {
    text-decoration: none;
    color: inherit;
}

#navbarContainer {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 5px;
}

.fa-info-circle {
    padding-left: 80px;
    font-size: 25px;
}

.fa-cog {
    padding-left: 24px;
    font-size: 25px;
}

#navbar {
    border-bottom: 2px solid black;
}

.banner {
    background-color: #fc46aa;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.1;
    margin: 3px;
    border: 1px solid black;
}

.banner p {
    margin: 13px;
}

button {
    display: block;
}

li {
    padding-top: 7px;
}

.home-menu-container {
    margin: 2px;
}

#instructionsGist {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}

#instructionsWarning {
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
}

#instructionsList {
    font-size: 16px;
    line-height: 1.4;
}