body {
    margin: 0;
}

h2 {
    display: inherit;

}

a {
    text-decoration: none;
    color: inherit;
}

#navbarLink,
#navbarButtons {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 5px;
}

#navbarButtons {
    float: right;
}

.fa-info-circle,
.fa-cog {
    font-size: 25px;
    padding-right: 12px;
}


#navbar {
    border-bottom: 2px solid black;
}

.banner {
    background-color: #fc46aa;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.1;
    margin: 3px;
    border: 1px solid black;
}

.banner p {
    margin: 7px;
}


li {
    padding-top: 7px;
}

.home-menu-container {
    margin: 2px;
}

.instructions {
    text-align: center;
}

#instructionsGist {
    font-size: 18px;
    line-height: 1.2;
}

#instructionsWarning {
    font-size: 20px;
    color: #ff0000;
    font-weight: 800;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
}

#instructionsList {
    font-size: 17px;
    line-height: 1.4;
    text-align: left;
    padding-left: 52px;
}

.menu-buttons {
    margin-top: 20px;
}

.menu-buttons button {
    padding: 12px;
    width: 79%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 27px;
    color: white;
    display: block;
}

#playButton {
    background-color: #04a12b;
}

#difficultyButton {
    background-color: #cc5500;
}

#settingsButton {
    background-color: #ff0000;
}

.score-container {
    font-size: inherit;
    width: 50%;
}

.timer-container {
    color: brown;
    display: inline;
    float: right;
    width: 50%;
}

.score-container,
.timer-container {
    display: inline-block;
}

.score-container p,
.timer-container p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.score-container p {
    margin-left: 10px;
}

.timer-container p {
    float: right;
    margin-right: 10px;
}

.words-blackboard {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.8;
    margin-left: 4%;
    margin-right: 4%;
    background-color: black;
    color: white;
}

.words-blackboard table {
    padding-left: 5px;
}

td {
    padding-left: 7px;
    padding-right: 7px;
}

.anagram-container {
    text-align: center;
    font-size: 27px;
}



#textInput {
    font-size: 16px;
    border: 2px solid orangered;
    margin: 10px;
    text-align: center;  

}

#textInput p {
    opacity: .7;
}

.enter-delete-buttons {
    margin-left: 30px;
}

.enter-delete-buttons button {
    font-size: 23px;
    margin-left: 15px;
    color: white;
}

#enterButton {
    background-color: #04a12b;
}

#deleteButton {
    background-color: #ff0000;
}